.game-world {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: #fcdaaf;
    border: 1px solid #333;
}

.shape {
    position: absolute;
    background-color: #e25429;
}

.platform {
   background-color: #4a4847;
}